<aside class="bg-dark" id="about">
    <div class="container">
        <div class="call-to-action">
            <h2>Biography</h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>
                    I am inspired by
                    the brain, so I became an Artificial Intelligence Engineer. I think the way to AGI (Artificial
                    General Intelligence) goes through <b>NLP</b> and <b>RL</b>. I love to be better 1% at a time and be more
                    productive every day. I have a taste for Philosophy and Psychology and Personal Development.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h3>Research Interest</h3>
                <ul>
                    <li>Artificial Intelligence</li>
                    <li>Robotics</li>
                    <li>Biomechanics</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h3>Education</h3>
                <ul>
                    <li>Ferdowsi University of Mashhad</li>
                    <li>University of Birjand</li>
                    <li>National Organization for Development of Exceptional Talents (NODET)</li>

                </ul>
            </div>
        </div>
    </div>
</aside>
